* {
	padding: 0;
	margin: 0;
}

body {
	background: url("../images/bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

.background-container {
	width: 100%;
	background-color: #000;
	min-height: 100vh;
	opacity: 0.90;
}

#image-container {
	width: 200px;
	margin: 0 auto;
}

.boo {
	width: 200px;
}

#container {
	padding-top: 120px;
	text-align: center;
	margin: auto;
}

.word-container {
	font-family: 'Helvetica';
	padding-top: 100px;
	background-color: rgba(0, 0, 0, .3);
	font-size: 60px;
	color: #fff;
	text-shadow: 0 0 10px white, 0 0 10px white;
}
